<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
  <extensions>
    <extension class="Qase\PHPUnit\Reporter" />
  </extensions>
  <testsuites>
    <testsuite name="qase-phpunit">
      <file>EmailTest.php</file>
      <file>ExampleTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <env name="QASE_REPORT" value="1" force="true" />
    <env name="QASE_API_TOKEN" value="<api_key>" force="true" />
    <env name="QASE_PROJECT_CODE" value="<project_code>" force="true" />
    <env name="QASE_API_BASE_URL" value="https://api.qase.io/v1" force="true" />
    <env name="QASE_RUN_ID" value="" force="true" />
    <env name="QASE_RUN_NAME" value="PHPUnit run" force="true" />
    <env name="QASE_RUN_DESCRIPTION" value="PHPUnit automated run" force="true" />
    <env name="QASE_RUN_COMPLETE" value="1" force="true" />
    <env name="QASE_ENVIRONMENT_ID" value="1" force="true" />
    <env name="QASE_LOGGING" value="1" force="true" />
  </php>
</phpunit>
